defaults: &defaults
  docker:
    - image: circleci/golang:1.10
  working_directory: /go/src/github.com/metrue/fx

attach_workspace: &attach_workspace
  attach_workspace:
    at: /go/src/github.com/metrue/fx

setup_remote_docker: &setup_remote_docker
  setup_remote_docker:
      docker_layer_caching: true

version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - *setup_remote_docker
      - run:
          name: Install Deps
          command: make install-deps
      - run:
          name: Build
          command: make build
      - run:
          name: Unit Test
          command: |
              make test-unit
              bash <(curl -s https://codecov.io/bash) -t ${CODECOV_TOKEN}
      - run:
          name: Test CLI
          command: make test-cli

workflows:
  version: 2
  workflow:
    jobs:
      - test
