name: release

on:
  create:
    tags:
      - v*.*.*

jobs:
  Release:
    runs-on: ${{ matrix.os }}
    needs: [Test]
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        version:
          - latest
          - v0.117.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          version: '1.12'
      - name: GoReleaser
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        uses: goreleaser/goreleaser-action@master
        with:
          version: ${{ matrix.version }}
          args: release --rm-dist
