name: releaser

on:
  pull_request:
    branches:
      - production
  push:
    branches:
      - production
  create:
    tags:
      - v*.*.*

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        version:
          - latest
          - v0.117.0
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          version: '1.12'
      - name: GoReleaser
        uses: goreleaser/goreleaser-action@master
        with:
          version: ${{ matrix.version }}
          args: release --rm-dist
